h1{
    color: red;
}
.completed{
    text-decoration: line-through;
    color: gray;
}
.not{
    text-decoration: underline;
}

.card-img {
    width: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}